<!DOCTYPE html>
<html>
  <head>
    <title>KindergartenApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Kindergarten App</a>
      <form class="form-inline">
        <% if user_signed_in? %>
          <% if current_user.superadmin_role? || current_user.supervisor_role? %>
            <%= link_to activity_logs_path,  class: 'btn btn-outline-primary' do %>Activity Logs<% end %>
            <%= link_to('Dashboard', rails_admin_path, class: 'btn btn-outline-primary') %>
          <% end %>
          <%= link_to('Profile', edit_user_registration_path, class: 'btn btn-outline-primary') %>
          <div style="padding-left: 10px;">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-outline-success") %>
          </div>
        <% else %>
          <%= link_to('Register', new_user_registration_path, class: 'btn btn-outline-primary')  %>
          <div style="padding-left: 10px;">
          <%= link_to('Login', new_user_session_path, class: "btn btn-outline-success") %>
          </div>
        <% end %>
      </form>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
